In [ ]:
#class and object
class Rectangle:
  length=0
  width=0
  def Getlb(self):
    self.length=int(input("Enter the length:"))
    self.width=int(input("Enter the width:"))
  def area(self):
    return self.length*self.width
  def perimeter(self):
    return 2*(self.length+self.width)

In [ ]:
#class and object
class Rectangle:
  def __init__(self):
    self.length=int(input("Enter the length:"))
    self.width=int(input("Enter the width:"))
  def area(self):
    return self.length*self.width
  def perimeter(self):
    return 2*(self.length+self.width)

In [ ]:
r1=Rectangle()
print("Area:",r1.area())
print("Perimeter:",r1.perimeter())

Enter the length:55
Enter the width:20
Area: 1100
Perimeter: 150

In [ ]:
class SimpleCalculator:
  def __init__(self):
    self.num1=int(input("Enter the first number:"))
    self.num2=int(input("Enter the second number:"))

  def add(self):
    return self.num1+self.num2
  def sub(self):
    return self.num1-self.num2
  def mul(self):
    return self.num1*self.num2
  def div(self):
    return self.num1/self.num2
  def mod(self):
    return self.num1%self.num2
  def power(self):
    return self.num1**self.num2
  def floor(self):
    return self.num1//self.num2

In [ ]:
k=SimpleCalculator()
print("Addition:",k.add())

Enter the first number:1200
Enter the second number:2300
Addition: 3500

In [ ]:
r=SimpleCalculator()
print("addition:",r.add())

Enter the first number:233354
Enter the second number:766736747
addition: 766970101

In [ ]:
t=SimpleCalculator()
print("mul:",t.mul())
print("div:",t.div())
print("mod:",t.mod())
print("power:",t.power())
print("floor:",t.floor())

Enter the first number:100
Enter the second number:12
mul: 1200
div: 8.333333333333334
mod: 4
power: 1000000000000000000000000
floor: 8

In [ ]:
import random
class BankAccount:
  def __init__(self):
    self.balance=0
    self.name=input("Enter the name:")
    self.address=input("Enter the address:")
    self.phone_no=int(input("Enter the phone number:"))
    print("Account Created successfully")
  def deposit(self):
    amount=int(input("Enter the amount to deposit:"))
    self.balance+=amount
    print("Amount deposited successfully")
  def withdraw(self):
    amount=int(input("Enter the amount to withdraw:"))
    if amount>self.balance:
      print("Insufficient balance")
    else:
      self.balance-=amount
      print("Amount withdrawn successfully")
  def display(self):
    self.account_no=BankAccount.genaccountno()
    print("Name:",self.name)
    print("Account number:",self.account_no)
    print("Address:",self.address)
    print("Phone number:",self.phone_no)
    print("Balance:",self.balance)
  def transfer(self):
    amount=int(input("Enter the amount to transfer:"))
    if amount>self.balance:
      print("Insufficient balance")
    else:
      self.balance-=amount
      print("Amount transferred successfully")
  def check_balance(self):
    self.accno=int(input("Enter the account number:"))
    if self.accno==self.account_no:
      print("Balance:",self.balance)
  def update_address(self):
    self.accno=int(input("Enter the account number:"))
    if self.accno==self.account_no:
      self.address=input("Enter the new address:")
      print("Address updated successfully")
  def update_phone_no(self):
    self.accno=int(input("Enter the account number:"))
    if self.accno==self.account_no:
      self.phone_no=int(input("Enter the new phone number:"))
  def update_name(self):
    self.accno=int(input("Enter the account number:"))
    if self.accno==self.account_no:
      self.name=input("Enter the new name:")
      print("Name updated successfully")
  def genaccountno():
    return random.randint(1000000000,9999999999)

In [ ]:
#Hierarchical inheritence
class SBI(BankAccount):
  IFSC="SBI001"        # static data member
  Branch="Kohat Enclave"
  Rate_of_interest=8.5
  def __init__(self):
    super().__init__()
    self.balance=0
  def display(self):
    super().display()
    print("IFSC:",self.IFSC)
    print("Branch:",self.Branch)
    print("Rate of interest:",self.Rate_of_interest)
  def cal_interest(self):
    interest=self.balance*self.Rate_of_interest/100
    print("Interest:",interest)

In [ ]:
class SBIH(SBI):
  IFSC="SBIH001"
  Branch="Burari"
  rate_of_interest=9.5
  def __init__(self):
    super().__init__()
    self.balance=0
  def display(self):
    super().display()
    print("IFSC:",self.IFSC)
    print("Branch:",self.Branch)
    print("Rate of interest:",self.rate_of_interest)

In [ ]:
class SBIY(SBI):
  IFSC="SBIY001"
  Branch="Delhi"
  rate_of_interest=10.5
  def __init__(self):
    super().__init__()
    self.balance=0
  def display(self):
    super().display()
    print("IFSC:",self.IFSC)
    print("Branch:",self.Branch)
    print("Rate of interest:",self.rate_of_interest)

In [ ]:
class PNB(BankAccount):
  IFSC="PNB001"
  Branch="Kohat Enclave"
  rate_of_interest=8.5
  def __init__(self):
    super().__init__()
    self.balance=0
  def display(self):
    super().display()
    print("IFSC:",self.IFSC)
    print("Branch:",self.Branch)
    print("Rate of interest:",self.rate_of_interest)

In [ ]:
class AXIS(BankAccount):
  IFSC="AXIS001"
  Branch="Kohat Enclave"
  rate_of_interest=8.5
  def __init__(self):
    super().__init__()
    self.balance=0
  def display(self):
    super().display()
    print("IFSC:",self.IFSC)
    print("Branch:",self.Branch)
    print("Rate of interest:",self.rate_of_interest)

In [ ]:

menu="************WELCOME TO SBI BANK SYSTEM*****************"
menu+="\n1.Create Account\n2.Deposit\n3.Withdraw\n4.Display\n5.Transfer\n6.Exit"


print(menu)
while True:
  op=int(input("Enter the option:"))
  if op==1:
    c2=SBI()
    c2.display()
  if op==2:
    c2.deposit()
  if op==3:
    c2.withdraw()
  if op==4:
    c2.display()
  if op==5:
    c2.transfer()
    c2.display()
  if op==6:
    print("Thank you for using our system")
    break

************WELCOME TO SBI BANK SYSTEM*****************
1.Create Account
2.Deposit
3.Withdraw
4.Display
5.Transfer
6.Exit
Enter the option:1
Enter the name:roshan
Enter the address:delhi
Enter the phone number:9878777
Account Created successfully
Name: roshan
Account number: 2859549814
Address: delhi
Phone number: 9878777
Balance: 0
IFSC: SBI001
Branch: Kohat Enclave
Rate of interest: 8.5
Enter the option:2
Enter the amount to deposit:12000
Amount deposited successfully
Enter the option:4
Name: roshan
Account number: 4524593425
Address: delhi
Phone number: 9878777
Balance: 12000
IFSC: SBI001
Branch: Kohat Enclave
Rate of interest: 8.5
Enter the option:6
Thank you for using our system

In [ ]:
c2=PNB()
c2.display()
c2.deposit()
c2.display()
c2.withdraw()
c2.display()
c2.transfer()
c2.display()

In [ ]:
menu="************BANK SYSTEM*****************"
menu+="\n1.Create Account\n2.Deposit\n3.Withdraw\n4.Display\n5.Transfer\n6.Exit"

print(menu)
print("****************************************")
while True:
  op=int(input("Enter the option:"))
  if op==1:
    roshan=BankAccount()
    roshan.display()
  if op==2:
    roshan.deposit()
  if op==3:
    roshan.withdraw()
  if op==4:
    roshan.display()
  if op==5:
    roshan.transfer()
  if op==6:
    print("Thank you for using our system")
    break

************BANK SYSTEM*****************
1.Create Account
2.Deposit
3.Withdraw
4.Display
5.Transfer
6.Exit
****************************************
Enter the option:6
Thank you for using our system

In [ ]:
class Item:
  itemlist=[]
  def __init__(self):
    self.id=int(input("Enter the id:"))
    self.name=input("Enter the name:")
    self.price=int(input("Enter the price:"))
    self.quantity=int(input("Enter the quantity:"))
    t1=tuple((self.id,self.name,self.price,self.quantity))
    self.itemlist.append(t1)
    print("Item added successfully")
  def display(self):
    # print("Id:",self.id)
    # print("Name:",self.name)
    # print("Price:",self.price)
    # print("Quantity:",self.quantity)
    print();
    print("Item list:")
    for i in self.itemlist:
      print(i)

  def caltotal(self):
    totalprice=0
    t=0
    for i in self.itemlist:
      t=i[2]*i[3]
      totalprice+=t
    print("Total price:",totalprice)
    print("Thank you for shopping with us")
  def update(self):
    self.id=int(input("Enter the id of the item to update:"))
    self.name=input("Enter the new name:")
    self.price=int(input("Enter the new price:"))
    self.quantity=int(input("Enter the new quantity:"))
    for i in self.itemlist:
      if i[0]==self.id:
        self.itemlist.remove(i)
        t=(self.id,self.name,self.price,self.quantity)
        self.itemlist.append(t)
        break
    else:
      print("Item not found")
    print("Item updated successfully")

  def clear_items(self):
    self.itemlist.clear()
    print("Data cleared successfully")
    print("Thank you for shopping with us")

  def delitem(self):
    self.id=int(input("Enter the id of the item to remove:"))
    for i in self.itemlist:
      print(i)
      if i[0]==self.id:
        self.itemlist.remove(i)
        print("Item removed successfully")
        break
    else:
      print("Item not found")

In [ ]:
menu="************ITEM MANAGEMENT SYSTEM*****************"
menu+="\n1.Add Item\n2.Display Item\n3.Calculate Total\n4.Update Item\n5.Remove item\n6.Cleardata\n7.Exit"
menu+="\n**************************************************"

In [ ]:
print(menu)
while True:
  op=int(input("Enter the option:"))
  if op==1:
    item1=Item()
  if op==2:
    item1.display()

  if op==3:
    item1.caltotal()
  if op==4:
    item1.update()
    item1.display()

  if op==5:
    item1.delitem()
    item1.display()
  if op==6:
    item1.clear_items()

  if op==7:
    print("Thank you for using our system")
    break

************ITEM MANAGEMENT SYSTEM*****************
1.Add Item
2.Display Item
3.Calculate Total
4.Update Item
5.Remove item
6.Cleardata
7.Exit
**************************************************
Enter the option:1
Enter the id:101
Enter the name:pen
Enter the price:120
Enter the quantity:100
Item added successfully
Enter the option:2

Item list:
(101, 'pen', 120, 100)
Enter the option:1
Enter the id:102
Enter the name:bag
Enter the price:1290
Enter the quantity:10
Item added successfully
Enter the option:2

Item list:
(101, 'pen', 120, 100)
(102, 'bag', 1290, 10)
Enter the option:3
Total price: 24900
Thank you for shopping with us
Enter the option:4
Enter the id of the item to update:101
Enter the new name:marker
Enter the new price:120
Enter the new quantity:100
Item updated successfully

Item list:
(102, 'bag', 1290, 10)
(101, 'marker', 120, 100)
Enter the option:2

Item list:
(102, 'bag', 1290, 10)
(101, 'marker', 120, 100)
Enter the option:5
Enter the id of the item to remove:101
(102, 'bag', 1290, 10)
(101, 'marker', 120, 100)
Item removed successfully

Item list:
(102, 'bag', 1290, 10)
Enter the option:6
Data cleared successfully
Thank you for shopping with us
Enter the option:7
Thank you for using our system

[]

In [ ]:
# prompt: library management system using class

class Library:
  def __init__(self):  #constructor
    self.books = []

  def add_book(self):
    title = input("Enter the title of the book: ")
    author = input("Enter the author of the book: ")
    self.books.append({"title": title, "author": author, "available": True})
    print("Book added successfully!")

  def borrow_book(self):
    title = input("Enter the title of the book you want to borrow: ")
    for book in self.books:
      if book["title"] == title:
        if book["available"]:
          book["available"] = False
          print("Book borrowed successfully!")
          return
        else:
          print("Sorry, the book is currently unavailable.")
          return
    print("Book not found in the library.")

  def return_book(self):
    title = input("Enter the title of the book you want to return: ")
    for book in self.books:
      if book["title"] == title:
        if not book["available"]:
          book["available"] = True
          print("Book returned successfully!")
          return
        else:
          print("This book was not borrowed from the library.")
          return
    print("Book not found in the library.")

  def display_books(self):
    if not self.books:
      print("The library is currently empty.")
    else:
      print("Available books:")
      for book in self.books:
        if book["available"]:
          print(f"- {book['title']} by {book['author']}")

library = Library()

while True:
  print("\nLibrary Management System")
  print("1. Add book")
  print("2. Borrow book")
  print("3. Return book")
  print("4. Display available books")
  print("5. Exit")

  choice = input("Enter your choice: ")

  if choice == '1':
    library.add_book()
  elif choice == '2':
    library.borrow_book()
  elif choice == '3':
    library.return_book()
  elif choice == '4':
    library.display_books()
  elif choice == '5':
    print("Exiting the library system...")
    break
  else:
    print("Invalid choice. Please try again.")

In [ ]:
# prompt: Phone directory management system

class PhoneDirectory:
  def __init__(self):
    self.contacts = {}

  def add_contact(self):
    name = input("Enter the name: ")
    number = input("Enter the phone number: ")
    self.contacts[name] = number
    print("Contact added successfully!")

  def search_contact(self):
    name = input("Enter the name to search: ")
    if name in self.contacts:
      print(f"Phone number for {name}: {self.contacts[name]}")
    else:
      print("Contact not found.")

  def delete_contact(self):
    name = input("Enter the name to delete: ")
    if name in self.contacts:
      del self.contacts[name]
      print("Contact deleted successfully!")
    else:
      print("Contact not found.")

  def display_contacts(self):
    if not self.contacts:
      print("The phone directory is empty.")
    else:
      print("Contacts:")
      for name, number in self.contacts.items():
        print(f"- {name}: {number}")

phone_directory = PhoneDirectory()

while True:
  print("\nPhone Directory Management System")
  print("1. Add contact")
  print("2. Search contact")
  print("3. Delete contact")
  print("4. Display contacts")
  print("5. Exit")

  choice = input("Enter your choice: ")

  if choice == '1':
    phone_directory.add_contact()
  elif choice == '2':
    phone_directory.search_contact()
  elif choice == '3':
    phone_directory.delete_contact()
  elif choice == '4':
    phone_directory.display_contacts()
  elif choice == '5':
    print("Exiting the phone directory system...")
    break
  else:
    print("Invalid choice. Please try again.")

Phone Directory Management System
1. Add contact
2. Search contact
3. Delete contact
4. Display contacts
5. Exit
Contact added successfully!

Phone Directory Management System
1. Add contact
2. Search contact
3. Delete contact
4. Display contacts
5. Exit
Contacts:
- parth: 7667721712

Phone Directory Management System
1. Add contact
2. Search contact
3. Delete contact
4. Display contacts
5. Exit
Contact added successfully!

Phone Directory Management System
1. Add contact
2. Search contact
3. Delete contact
4. Display contacts
5. Exit
Contacts:
- parth: 7667721712
- sumit: 898676767

Phone Directory Management System
1. Add contact
2. Search contact
3. Delete contact
4. Display contacts
5. Exit
Phone number for parth: 7667721712

Phone Directory Management System
1. Add contact
2. Search contact
3. Delete contact
4. Display contacts
5. Exit
Contact deleted successfully!

Phone Directory Management System
1. Add contact
2. Search contact
3. Delete contact
4. Display contacts
5. Exit
Contacts:
- sumit: 898676767

Phone Directory Management System
1. Add contact
2. Search contact
3. Delete contact
4. Display contacts
5. Exit

In [ ]:
# Class Inheritence: Reusablity of code:
# single Inheritence
class Person:
  def __init__(self):
    self.id=int(input("Enter the id:"))
    self.name=input("Enter the name:")
    self.age=int(input("Enter the age:"))
    self.gender=input("Enter the gender:")
  def display(self):
    print("Id:",self.id)
    print("Name:",self.name)
    print("Age:",self.age)
    print("Gender:",self.gender)

In [ ]:
class Employee(Person): # single inheritence
  def __init__(self):
    super().__init__()
    self.salary=int(input("Enter the salary:"))
    self.designation=input("Enter the designation:")
    self.company=input("Enter the company:")
  def display(self):
    super().display()
    print("Salary:",self.salary)
    print("Designation:",self.designation)
    print("Company:",self.company)
  def bonus(self):
    bonus=self.salary*0.1
    print("Bonus:",bonus)
  def allowance(self):
    hra=self.salary*0.2
    da=self.salary*0.1
    allowance=hra+da
    print("HRA:",hra)
    print("DA:",da)
    print("Allowance:",allowance)
    print("Total salary:",self.salary+allowance)

In [ ]:
#main()
emp1=Employee()
emp1.display()
emp1.bonus()
emp1.allowance()

Enter the id:101
Enter the name:roshan
Enter the age:23
Enter the gender:45000
Enter the salary:45000
Enter the designation:DA
Enter the company:google
Id: 101
Name: roshan
Age: 23
Gender: 45000
Salary: 45000
Designation: DA
Company: google
Bonus: 4500.0
HRA: 9000.0
DA: 4500.0
Allowance: 13500.0
Total salary: 58500.0

In [ ]:
#multilevel inheritence
class students:
  def __init__(self):
    self.name=input("Enter the name:")
    self.rollno=int(input("Enter the rollno:"))
    self.course=input("Enter the course:")
  def display(self):
    print("Name:",self.name)
    print("Rollno:",self.rollno)
    print("Course:",self.course)

In [ ]:
class Exam(students):
  def __init__(self):
    super().__init__()
    self.marks=[]
    for i in range(5):
      self.marks.append(int(input("Enter the marks:")))

  def display(self):
    super().display()
    print("Marks:",self.marks)

In [ ]:
class Result(Exam):
  def __init__(self):
    super().__init__()
    self.total=sum(self.marks)

  def display(self):
    super().display()
    print("Total:",self.total)
  def Grade(self):
    if self.total>=400:
      print("Grade:A")
    elif self.total>=300:
      print("Grade:B")
    elif self.total>=200:
      print("Grade:C")
    elif self.total>=100:
      print("Grade:D")
    else:
      print("Grade:Fail")

In [ ]:
sumit=Result()
sumit.display()
sumit.Grade()

Enter the name:Sumit
Enter the rollno:12345
Enter the course:BBA
Enter the marks:66
Enter the marks:77
Enter the marks:88
Enter the marks:69
Enter the marks:90
Name: Sumit
Rollno: 12345
Course: BBA
Marks: [66, 77, 88, 69, 90]
Total: 390
Grade:B

In [ ]:
#multiple inheritence
class Person:
  def __init__(self):
    self.name=input("Enter the name:")
    self.age=int(input("Enter the age:"))
    self.gender=input("Enter the gender:")

In [ ]:
class Employee:
  def __init__(self):
    self.salary=int(input("Enter the salary:"))
    self.designation=input("Enter the designation:")
    self.company=input("Enter the company:")

In [ ]:
class Manager(Person,Employee):
  def __init__(self):
    Person.__init__(self)
    Employee.__init__(self)
  def display(self):
    print("Name:",self.name)
    print("Age:",self.age)
    print("Gender:",self.gender)
    print("Salary:",self.salary)
    print("Designation:",self.designation)
    print("Company:",self.company)
  def bonus(self):
    bonus=self.salary*0.1
    print("Bonus:",bonus)
  def allowance(self):
    hra=self.salary*0.2
    da=self.salary*0.1
    epf=self.salary*0.12

    allowance=hra+da
    print("HRA:",hra)
    print("DA:",da)
    print("EPF:",epf)
    print("Allowance:",allowance)
    print("Total salary:",self.salary+allowance-epf)

In [ ]:
manager1=Manager()
manager1.display()
manager1.bonus()
manager1.allowance()

Enter the name:Roshan
Enter the age:23
Enter the gender:male
Enter the salary:45000
Enter the designation:Manager
Enter the company:tgc
Name: Roshan
Age: 23
Gender: male
Salary: 45000
Designation: Manager
Company: tgc
Bonus: 4500.0
HRA: 9000.0
DA: 4500.0
EPF: 5400.0
Allowance: 13500.0
Total salary: 53100.0

In [ ]:
# prompt: school management system

class Student:
  def __init__(self, name, roll_no, grade, section):
    self.name = name
    self.roll_no = roll_no
    self.grade = grade
    self.section = section
    self.attendance = {}  # To store attendance records

  def display_info(self):
    print("Name:", self.name)
    print("Roll No:", self.roll_no)
    print("Grade:", self.grade)
    print("Section:", self.section)

  def mark_attendance(self, date, status):
    self.attendance[date] = status

  def get_attendance(self):
    return self.attendance

class Teacher:
  def __init__(self, name, subject):
    self.name = name
    self.subject = subject

  def display_info(self):
    print("Name:", self.name)
    print("Subject:", self.subject)

class School:
  def __init__(self, name):
    self.name = name
    self.students = []
    self.teachers = []

  def add_student(self):
    name = input("Enter student name: ")
    roll_no = int(input("Enter roll number: "))
    grade = input("Enter grade: ")
    section = input("Enter section: ")
    student = Student(name, roll_no, grade, section)
    self.students.append(student)
    print("Student added successfully!")

  def add_teacher(self):
    name = input("Enter teacher name: ")
    subject = input("Enter subject: ")
    teacher = Teacher(name, subject)
    self.teachers.append(teacher)
    print("Teacher added successfully!")

  def display_students(self):
    if not self.students:
      print("No students in the school yet.")
    else:
      print("Students:")
      for student in self.students:
        student.display_info()
        print("-" * 20)

  def display_teachers(self):
    if not self.teachers:
      print("No teachers in the school yet.")
    else:
      print("Teachers:")
      for teacher in self.teachers:
        teacher.display_info()
        print("-" * 20)

  def mark_student_attendance(self):
    roll_no = int(input("Enter roll number of student: "))
    date = input("Enter date (YYYY-MM-DD): ")
    status = input("Enter status (Present/Absent): ")
    for student in self.students:
      if student.roll_no == roll_no:
        student.mark_attendance(date, status)
        print("Attendance marked successfully!")
        return
    print("Student not found.")

  def get_student_attendance(self):
    roll_no = int(input("Enter roll number of student: "))
    for student in self.students:
      if student.roll_no == roll_no:
        attendance = student.get_attendance()
        if attendance:
          print("Attendance for", student.name)
          for date, status in attendance.items():
            print(date, ":", status)
        else:
          print("No attendance records found for this student.")
        return
    print("Student not found.")

# Example usage:
school = School("My School")

while True:
  print("\nSchool Management System")
  print("1. Add student")
  print("2. Add teacher")
  print("3. Display students")
  print("4. Display teachers")
  print("5. Mark student attendance")
  print("6. Get student attendance")
  print("7. Exit")

  choice = input("Enter your choice: ")

  if choice == '1':
    school.add_student()
  elif choice == '2':
    school.add_teacher()
  elif choice == '3':
    school.display_students()
  elif choice == '4':
    school.display_teachers()
  elif choice == '5':
    school.mark_student_attendance()
  elif choice == '6':
    school.get_student_attendance()
  elif choice == '7':
    print("Exiting the school management system...")
    break
  else:
    print("Invalid choice. Please try again.")

School Management System
1. Add student
2. Add teacher
3. Display students
4. Display teachers
5. Mark student attendance
6. Get student attendance
7. Exit
Enter your choice: 1
Enter student name: sumit
Enter roll number: 101
Enter grade: a
Enter section: d
Student added successfully!

School Management System
1. Add student
2. Add teacher
3. Display students
4. Display teachers
5. Mark student attendance
6. Get student attendance
7. Exit
Enter your choice: 7
Exiting the school management system...

In [ ]:
class adder():
  def __init__(self):
    self.a=int(input("enter a"))
    self.b=int(input("enter b"))
  def add(self):
    return self.a+self.b

In [ ]:
class subber():
  def __init__(self):
    self.a=int(input("enter a"))
    self.b=int(input("enter b"))
  def sub(self):
    return self.a-self.b

In [ ]:
class mutiplyer():
  def __init__(self):
    self.a=int(input("enter a"))
    self.b=int(input("enter b"))
  def mutiply(self):
    return self.a*self.b

In [ ]:
class divider():
  def __init__(self):
    self.a=int(input("enter a"))
    self.b=int(input("enter b"))
  def divide(self):
    return self.a/self.b

In [ ]:
class calculator(adder,subber,mutiplyer,divider):
  def __init__(self):
    super().__init__()
    print(super().add())
    print(super().sub())
    print(super().mutiply())
    print(super().divide())

In [ ]:
cal=calculator()

In [ ]:
# exception handling
# try except finally raise assert
y=999
try:
  print(y)
except:
  print(" y is not defined")
price=1299.99
print("price is ",price)

999
price is  1299.99

In [ ]:
x="Hello India"
try:
  print(x)
except:
  print("x is not defined")
else:
  print("x is defined")
  print(x)
price=234.99
print("price is ",price)

Hello India
x is defined
Hello India
price is  234.99

In [ ]:
try:
  x=int(input("enter a number"))
  y=int(input("enter a number"))
  r=Div(x,y)
except:
  print("Zero Division Error ")
else:
 print("result is",r)

print("Good morning India")

enter a number5
enter a number2
Zero Division Error
Good morning India

In [9]:
def add(a,b):
  return str(a) + str(b)
def sub(a,b):
  return a-b


add(78,'h')
sub(89,33)

56

In [ ]:
try:
  a=int(input("enter a"))
  b=int(input("enter b"))
  r1=add(a,b)
  r2=sub(a,b)

except:
  print("Invalid input unsupported types")
else:
  print(r1,r2)

enter a100
enter bkirtika
Invalid input unsupported types

In [ ]:
num=[11,13,15,12,2,66,56,23,12,100]
print(num)
print(num[0])
print(num[5])
print(num[-1])

try:
  print(num[11])
  num[10]=199
except:
  print("index out of range")

num[4]=1000
print(num)

[11, 13, 15, 12, 2, 66, 56, 23, 12, 100]
11
66
100
index out of range
[11, 13, 15, 12, 1000, 66, 56, 23, 12, 100]

In [ ]:
book={"code":101,"title":"Python","Price":577.99,"Author":"Monty Python"}
car={"brand":"BMW","model":"Mustang","year":1964,"color":"red"}
print(book)
print(book["code"])
print(book["title"])
print(book["Price"])
print(book["Author"])
print(car)


try:
  print(book["year"])
except:
  print("key not found")


try:
  print(car["price"])
  print(car["brand"])
  print(car["model"])
  print(car["year"])
  print(car["color"])

except:
  print("key not found")
finally:
  print("End of program")

{'code': 101, 'title': 'Python', 'Price': 577.99, 'Author': 'Monty Python'}
101
Python
577.99
Monty Python
{'brand': 'BMW', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
key not found
key not found
End of program

In [ ]:
try:
	k = 5//0 # raises divide by zero exception.
	print(k)

except ZeroDivisionError:
	print("Can't divide by zero")

finally:
	print('This is always executed')

Can't divide by zero
This is always executed

In [ ]:
def sical(p,r,t):
  si=(p*r*t)/100
  return si

In [ ]:
si=sical(2000,10,2)
print(si)

400.0

In [6]:
class Bike:
  def __init__(self):
    self.brand='Honda'
    self.model='CBR'
    self.year=2022
    self.color='Red'
    self.price=100000
    self.max_speed = 250
  def display(self):
    print("Brand:",self.brand)
    print("Model:",self.model)
    print("Year:",self.year)
    print("Color:",self.color)
    print("Price:",self.price)
    print("Bike highest speed",self.max_speed)

In [7]:
b1=Bike()
b1.display()

Brand: Honda
Model: CBR
Year: 2022
Color: Red
Price: 100000
Bike highest speed 250

In [ ]:
try:
  mybike=Bike()
  mybike.display()
except:
  print(" Bike has no such attribute ")
finally:
  print("thank you for using my app")

Brand: Honda
Model: CBR
Year: 2022
Color: Red
Price: 100000
 Bike has no such attribute
thank you for using my app

In [ ]:
import math as m1
try:
  print(m1.pi)
  print(m1.sqrt(25))
except:
  print("module not found")
finally:
  print("thank you for using my app")

3.141592653589793
5.0
thank you for using my app

In [2]:
!pip install camelcase

Collecting camelcase
  Downloading camelcase-0.2.tar.gz (1.3 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: camelcase
  Building wheel for camelcase (setup.py) ... done
  Created wheel for camelcase: filename=camelcase-0.2-py3-none-any.whl size=1773 sha256=23a988d9de9c2ff97158c59027d6725ab4dfd7037737e9a9b3e7fe626a152a27
  Stored in directory: /root/.cache/pip/wheels/89/69/2b/bb16b6766a74942bfbd1e0db55e3c0f3d80c3463ad6b4dc4d4
Successfully built camelcase
Installing collected packages: camelcase
Successfully installed camelcase-0.2

In [3]:
import camelcase

c = camelcase.CamelCase()

txt = "hello world"

print(c.hump(txt))

print(dir(camelcase))

Hello World
['CamelCase', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'main']

In [ ]:
# Read Json File and Convert it into python

book='{"code":101,"title":"Python","Price":577.99,"Author":"Monty Python"}'
print(book)

print()
print(type(book))

import json
book_dict=json.loads(book)

print(book_dict)
print(type(book_dict))
print(book_dict["code"])
print(book_dict["title"])
print(book_dict["Price"])
print(book_dict["Author"])

{"code":101,"title":"Python","Price":577.99,"Author":"Monty Python"}

<class 'str'>
{'code': 101, 'title': 'Python', 'Price': 577.99, 'Author': 'Monty Python'}
<class 'dict'>
101
Python
577.99
Monty Python

In [ ]:
# Read python file (dictionary) and Convert it into  Json File
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(x)
print(type(x))

print(x["cars"][0]["model"])
print(x["cars"][1]["mpg"])

jsonfile=json.dumps(x)
print(jsonfile)
print(type(jsonfile))

print()

# print(json.dumps(x, indent=4))

# print(json.dumps(x, indent=4, separators=(". ", " = ")))

# print(json.dumps(x, indent=4, sort_keys=True))


for car in x['cars']:
  print(car['model'])
  print(car['mpg'])

for child in x['children']:
  print(child)

{'name': 'John', 'age': 30, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
<class 'dict'>
BMW 230
24.1
{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}
<class 'str'>

BMW 230
27.5
Ford Edge
24.1
Ann
Billy

In [ ]:
students=[
	{
		"name" : "Yash",
		"father_name" : "Amit Goyal",
		"email" : "abhisheknisun@gmail.com",
		"mobile" : "9911225526",
		"school" : "sssss",
		"pws" : "1234567",
		"stream" : "Commerce",
		"address" : "167",
		"area" : "kohat enclave",
		"pincode" : "110054"
	},
	{
		"name" : "ajay",
		"father_name" : "ANIL",
		"email" : "ajay@gmail.com",
		"mobile" : "8877665544",
		"school" : "kvs",
		"pws" : "Ajay12345",
		"stream" : "Commerce",
		"address" : "124",
		"area" : "rohini",
		"pincode" : "110044"
	},
	{
		"name" : "chandni",
		"father_name" : "mr. Ashok",
		"email" : "chandni@gmail.com",
		"mobile" : "2346574567",
		"school" : "kvs kohat",
		"pws" : "chandni123",
		"stream" : "Arts",
		"address" : "442",
		"area" : "kohat enclave",
		"pincode" : "110044"
	},
	{
		"name" : "gautam",
		"father_name" : "mg",
		"email" : "gautam@gmail.com",
		"mobile" : "9899887711",
		"school" : "kvs",
		"pws" : "gautam123",
		"stream" : "Science",
		"address" : "373",
		"area" : "kohat enclave",
		"pincode" : "110098"
	},
	{
		"name" : "harsh",
		"father_name" : "Harsh",
		"email" : "harsh123@gmail.com",
		"mobile" : "9899887711",
		"school" : "dsssb",
		"pws" : "654321",
		"stream" : "Commerce",
		"address" : "373",
		"area" : "kohat enclave",
		"pincode" : "110034"
	},
	{
		"name" : "hitanshi",
		"father_name" : "G M",
		"email" : "hitanshi@gmail.com",
		"mobile" : "8978989896",
		"school" : "kvs",
		"pws" : "hit@1213",
		"stream" : "Commerce",
		"address" : "373",
		"area" : "kohat enclave",
		"pincode" : "110044"
	},
	{
		"name" : "kamal",
		"father_name" : "Mr. XYZ",
		"email" : "kamal123@gmail.com",
		"mobile" : "9899887711",
		"school" : "SBV",
		"pws" : "123456789",
		"stream" : "Science",
		"address" : "1245",
		"area" : "kohat enclave",
		"pincode" : "110089"
	},
	{
		"name" : "rahul",
		"father_name" : "mr. raj",
		"email" : "kumarrahul@gmail.com",
		"mobile" : "9876645634",
		"school" : "dsssb",
		"pws" : "123456",
		"stream" : "Arts",
		"address" : "124",
		"area" : "delhi",
		"pincode" : "110054"
	},
	{
		"name" : "kunal",
		"father_name" : "kuldeep",
		"email" : "kunal@gmail.com",
		"mobile" : "9911225526",
		"school" : "kvs kohat",
		"pws" : "kunal123",
		"stream" : "Science",
		"address" : "167",
		"area" : "delhi",
		"pincode" : "110033"
	},
	{
		"name" : "mukesh123",
		"father_name" : "bl prasad",
		"email" : "mks2@gmail.com",
		"mobile" : "9899887313",
		"school" : "rvs",
		"pws" : "12345678",
		"stream" : "Science",
		"address" : "44",
		"area" : "kohat enclave",
		"pincode" : "110034"
	},
	{
		"name" : "nikita",
		"father_name" : "Nitin",
		"email" : "nikita@gmail.com",
		"mobile" : "9911225521",
		"school" : "tgc",
		"pws" : "nikita",
		"stream" : "Commerce",
		"address" : "44",
		"area" : "rohini",
		"pincode" : "110034"
	},
	{
		"name" : "prerna",
		"father_name" : "mr.",
		"email" : "p123@gmail.com",
		"mobile" : "9911225526",
		"school" : "dsssb",
		"pws" : "1234567",
		"stream" : "Science",
		"address" : "373",
		"area" : "kohat enclave",
		"pincode" : "110054"
	},
	{
		"name" : "prerna",
		"father_name" : "mr.",
		"email" : "prerna23@gmail.com",
		"mobile" : "9911225526",
		"school" : "dsssb",
		"pws" : "123456",
		"stream" : "Science",
		"address" : "373",
		"area" : "kohat enclave",
		"pincode" : "110054"
	},
	{
		"name" : "raj",
		"father_name" : "Raj",
		"email" : "raj@gmail.com",
		"mobile" : "9911225526",
		"school" : "kvs",
		"pws" : "12345678",
		"stream" : "Commerce",
		"address" : "145",
		"area" : "rohini",
		"pincode" : "110089"
	},
	{
		"name" : "abhay",
		"father_name" : "mr. rajender",
		"email" : "rs@gmail.com",
		"mobile" : "9876543210",
		"school" : "kv",
		"pws" : "123456789",
		"stream" : "Science",
		"address" : "55",
		"area" : "delhi",
		"pincode" : "110098"
	},
	{
		"name" : "harsh",
		"father_name" : "mr. ambika pratap singh",
		"email" : "rs123@gmail.com",
		"mobile" : "8877665588",
		"school" : "kvs",
		"pws" : "rs12345",
		"stream" : "Science",
		"address" : "373",
		"area" : "kohat enclave",
		"pincode" : "110033"
	}
]

In [ ]:
print(students)
print("List of all students are")
print(type(students))
for student in students:
  for key,value in student.items():
    print(key,":",value)
  print()

[{'name': 'Yash', 'father_name': 'Amit Goyal', 'email': 'abhisheknisun@gmail.com', 'mobile': '9911225526', 'school': 'sssss', 'pws': '1234567', 'stream': 'Commerce', 'address': '167', 'area': 'kohat enclave', 'pincode': '110054'}, {'name': 'ajay', 'father_name': 'ANIL', 'email': 'ajay@gmail.com', 'mobile': '8877665544', 'school': 'kvs', 'pws': 'Ajay12345', 'stream': 'Commerce', 'address': '124', 'area': 'rohini', 'pincode': '110044'}, {'name': 'chandni', 'father_name': 'mr. Ashok', 'email': 'chandni@gmail.com', 'mobile': '2346574567', 'school': 'kvs kohat', 'pws': 'chandni123', 'stream': 'Arts', 'address': '442', 'area': 'kohat enclave', 'pincode': '110044'}, {'name': 'gautam', 'father_name': 'mg', 'email': 'gautam@gmail.com', 'mobile': '9899887711', 'school': 'kvs', 'pws': 'gautam123', 'stream': 'Science', 'address': '373', 'area': 'kohat enclave', 'pincode': '110098'}, {'name': 'harsh', 'father_name': 'Harsh', 'email': 'harsh123@gmail.com', 'mobile': '9899887711', 'school': 'dsssb', 'pws': '654321', 'stream': 'Commerce', 'address': '373', 'area': 'kohat enclave', 'pincode': '110034'}, {'name': 'hitanshi', 'father_name': 'G M', 'email': 'hitanshi@gmail.com', 'mobile': '8978989896', 'school': 'kvs', 'pws': 'hit@1213', 'stream': 'Commerce', 'address': '373', 'area': 'kohat enclave', 'pincode': '110044'}, {'name': 'kamal', 'father_name': 'Mr. XYZ', 'email': 'kamal123@gmail.com', 'mobile': '9899887711', 'school': 'SBV', 'pws': '123456789', 'stream': 'Science', 'address': '1245', 'area': 'kohat enclave', 'pincode': '110089'}, {'name': 'rahul', 'father_name': 'mr. raj', 'email': 'kumarrahul@gmail.com', 'mobile': '9876645634', 'school': 'dsssb', 'pws': '123456', 'stream': 'Arts', 'address': '124', 'area': 'delhi', 'pincode': '110054'}, {'name': 'kunal', 'father_name': 'kuldeep', 'email': 'kunal@gmail.com', 'mobile': '9911225526', 'school': 'kvs kohat', 'pws': 'kunal123', 'stream': 'Science', 'address': '167', 'area': 'delhi', 'pincode': '110033'}, {'name': 'mukesh123', 'father_name': 'bl prasad', 'email': 'mks2@gmail.com', 'mobile': '9899887313', 'school': 'rvs', 'pws': '12345678', 'stream': 'Science', 'address': '44', 'area': 'kohat enclave', 'pincode': '110034'}, {'name': 'nikita', 'father_name': 'Nitin', 'email': 'nikita@gmail.com', 'mobile': '9911225521', 'school': 'tgc', 'pws': 'nikita', 'stream': 'Commerce', 'address': '44', 'area': 'rohini', 'pincode': '110034'}, {'name': 'prerna', 'father_name': 'mr.', 'email': 'p123@gmail.com', 'mobile': '9911225526', 'school': 'dsssb', 'pws': '1234567', 'stream': 'Science', 'address': '373', 'area': 'kohat enclave', 'pincode': '110054'}, {'name': 'prerna', 'father_name': 'mr.', 'email': 'prerna23@gmail.com', 'mobile': '9911225526', 'school': 'dsssb', 'pws': '123456', 'stream': 'Science', 'address': '373', 'area': 'kohat enclave', 'pincode': '110054'}, {'name': 'raj', 'father_name': 'Raj', 'email': 'raj@gmail.com', 'mobile': '9911225526', 'school': 'kvs', 'pws': '12345678', 'stream': 'Commerce', 'address': '145', 'area': 'rohini', 'pincode': '110089'}, {'name': 'abhay', 'father_name': 'mr. rajender', 'email': 'rs@gmail.com', 'mobile': '9876543210', 'school': 'kv', 'pws': '123456789', 'stream': 'Science', 'address': '55', 'area': 'delhi', 'pincode': '110098'}, {'name': 'harsh', 'father_name': 'mr. ambika pratap singh', 'email': 'rs123@gmail.com', 'mobile': '8877665588', 'school': 'kvs', 'pws': 'rs12345', 'stream': 'Science', 'address': '373', 'area': 'kohat enclave', 'pincode': '110033'}]
List of all students are
<class 'list'>
name : Yash
father_name : Amit Goyal
email : abhisheknisun@gmail.com
mobile : 9911225526
school : sssss
pws : 1234567
stream : Commerce
address : 167
area : kohat enclave
pincode : 110054

name : ajay
father_name : ANIL
email : ajay@gmail.com
mobile : 8877665544
school : kvs
pws : Ajay12345
stream : Commerce
address : 124
area : rohini
pincode : 110044

name : chandni
father_name : mr. Ashok
email : chandni@gmail.com
mobile : 2346574567
school : kvs kohat
pws : chandni123
stream : Arts
address : 442
area : kohat enclave
pincode : 110044

name : gautam
father_name : mg
email : gautam@gmail.com
mobile : 9899887711
school : kvs
pws : gautam123
stream : Science
address : 373
area : kohat enclave
pincode : 110098

name : harsh
father_name : Harsh
email : harsh123@gmail.com
mobile : 9899887711
school : dsssb
pws : 654321
stream : Commerce
address : 373
area : kohat enclave
pincode : 110034

name : hitanshi
father_name : G M
email : hitanshi@gmail.com
mobile : 8978989896
school : kvs
pws : hit@1213
stream : Commerce
address : 373
area : kohat enclave
pincode : 110044

name : kamal
father_name : Mr. XYZ
email : kamal123@gmail.com
mobile : 9899887711
school : SBV
pws : 123456789
stream : Science
address : 1245
area : kohat enclave
pincode : 110089

name : rahul
father_name : mr. raj
email : kumarrahul@gmail.com
mobile : 9876645634
school : dsssb
pws : 123456
stream : Arts
address : 124
area : delhi
pincode : 110054

name : kunal
father_name : kuldeep
email : kunal@gmail.com
mobile : 9911225526
school : kvs kohat
pws : kunal123
stream : Science
address : 167
area : delhi
pincode : 110033

name : mukesh123
father_name : bl prasad
email : mks2@gmail.com
mobile : 9899887313
school : rvs
pws : 12345678
stream : Science
address : 44
area : kohat enclave
pincode : 110034

name : nikita
father_name : Nitin
email : nikita@gmail.com
mobile : 9911225521
school : tgc
pws : nikita
stream : Commerce
address : 44
area : rohini
pincode : 110034

name : prerna
father_name : mr.
email : p123@gmail.com
mobile : 9911225526
school : dsssb
pws : 1234567
stream : Science
address : 373
area : kohat enclave
pincode : 110054

name : prerna
father_name : mr.
email : prerna23@gmail.com
mobile : 9911225526
school : dsssb
pws : 123456
stream : Science
address : 373
area : kohat enclave
pincode : 110054

name : raj
father_name : Raj
email : raj@gmail.com
mobile : 9911225526
school : kvs
pws : 12345678
stream : Commerce
address : 145
area : rohini
pincode : 110089

name : abhay
father_name : mr. rajender
email : rs@gmail.com
mobile : 9876543210
school : kv
pws : 123456789
stream : Science
address : 55
area : delhi
pincode : 110098

name : harsh
father_name : mr. ambika pratap singh
email : rs123@gmail.com
mobile : 8877665588
school : kvs
pws : rs12345
stream : Science
address : 373
area : kohat enclave
pincode : 110033

In [ ]:
import pandas as pd
df=pd.DataFrame(students)
df

,name,father_name,email,mobile,school,pws,stream,address,area,pincode
0,Yash,Amit Goyal,abhisheknisun@gmail.com,9911225526,sssss,1234567,Commerce,167,kohat enclave,110054
1,ajay,ANIL,ajay@gmail.com,8877665544,kvs,Ajay12345,Commerce,124,rohini,110044
2,chandni,mr. Ashok,chandni@gmail.com,2346574567,kvs kohat,chandni123,Arts,442,kohat enclave,110044
3,gautam,mg,gautam@gmail.com,9899887711,kvs,gautam123,Science,373,kohat enclave,110098
4,harsh,Harsh,harsh123@gmail.com,9899887711,dsssb,654321,Commerce,373,kohat enclave,110034
5,hitanshi,G M,hitanshi@gmail.com,8978989896,kvs,hit@1213,Commerce,373,kohat enclave,110044
6,kamal,Mr. XYZ,kamal123@gmail.com,9899887711,SBV,123456789,Science,1245,kohat enclave,110089
7,rahul,mr. raj,kumarrahul@gmail.com,9876645634,dsssb,123456,Arts,124,delhi,110054
8,kunal,kuldeep,kunal@gmail.com,9911225526,kvs kohat,kunal123,Science,167,delhi,110033
9,mukesh123,bl prasad,mks2@gmail.com,9899887313,rvs,12345678,Science,44,kohat enclave,110034
10,nikita,Nitin,nikita@gmail.com,9911225521,tgc,nikita,Commerce,44,rohini,110034
11,prerna,mr.,p123@gmail.com,9911225526,dsssb,1234567,Science,373,kohat enclave,110054
12,prerna,mr.,prerna23@gmail.com,9911225526,dsssb,123456,Science,373,kohat enclave,110054
13,raj,Raj,raj@gmail.com,9911225526,kvs,12345678,Commerce,145,rohini,110089
14,abhay,mr. rajender,rs@gmail.com,9876543210,kv,123456789,Science,55,delhi,110098
15,harsh,mr. ambika pratap singh,rs123@gmail.com,8877665588,kvs,rs12345,Science,373,kohat enclave,110033

In [ ]:
# prompt: file handling functions

# Opening a file
file = open("my_file.txt", "w")  # Open for writing (creates if doesn't exist)
# or
file = open("my_file.txt", "r")  # Open for reading
# or
file = open("my_file.txt", "a")  # Open for appending

# Writing to a file
file.write("Hello, world!\n")
file.write("This is some text.")

# Reading from a file
content = file.read()  # Read entire content
print(content)
# or
line = file.readline()  # Read a single line
print(line)
# or
lines = file.readlines()  # Read all lines into a list
for line in lines:
  print(line)

# Closing a file
file.close()

# Using 'with' (automatically closes the file)
with open("my_file.txt", "r") as file:
  content = file.read()
  print(content)

In [ ]:
# python  map function
def square(x):
  return x*x

l1=[1,2,3,4,5,6,7,8,9]

print(l1)
l2=list(map(square,l1))

print(l2)

cube=list(map(lambda x:x*x*x,l1))
print(cube)



names=('roshan','preeti','tannu',"kirtika","path","sumit","mukesh","monika","smriti")
print(names)
l3=list(map(str.upper,names))
print(l3)

l4=list(map(str.capitalize,names))
print(l4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
('roshan', 'preeti', 'tannu', 'kirtika', 'path', 'sumit', 'mukesh', 'monika', 'smriti')
['ROSHAN', 'PREETI', 'TANNU', 'KIRTIKA', 'PATH', 'SUMIT', 'MUKESH', 'MONIKA', 'SMRITI']
['Roshan', 'Preeti', 'Tannu', 'Kirtika', 'Path', 'Sumit', 'Mukesh', 'Monika', 'Smriti']

In [ ]:
names=('roshan','preeti','tannu',"kirtika","patrh","sumit")

newlist=[]
for name in names:
  newlist.append(name.upper())
print(newlist)

newlist=list(map(str.upper,names))
print(newlist)

newlist=list(map(str.capitalize,names))
print(newlist)

newlist=list(map(str.lower,names))
print(newlist)

newlist=list(map(str.title,names))
print(newlist)

newlist=list(map(str.swapcase,names))
print(newlist)

['ROSHAN', 'PREETI', 'TANNU', 'KIRTIKA', 'PATRH', 'SUMIT']
['ROSHAN', 'PREETI', 'TANNU', 'KIRTIKA', 'PATRH', 'SUMIT']
['Roshan', 'Preeti', 'Tannu', 'Kirtika', 'Patrh', 'Sumit']
['roshan', 'preeti', 'tannu', 'kirtika', 'patrh', 'sumit']
['Roshan', 'Preeti', 'Tannu', 'Kirtika', 'Patrh', 'Sumit']
['ROSHAN', 'PREETI', 'TANNU', 'KIRTIKA', 'PATRH', 'SUMIT']

In [ ]:
# filter
numlist=[11,22,23,24,45,56,67,88,79,100,66,76,43,78,44,33,119,-70,-23,89,-33,86,-12]
print(numlist)

oddlist=list(filter(lambda x:x%2!=0,numlist))
print(oddlist)

evenlist=list(filter(lambda x:x%2==0,numlist))
print(evenlist)

positivelist=list(filter(lambda x:x>0,numlist))
print(positivelist)

negativelist=list(filter(lambda x:x<0,numlist))
print(negativelist)

[11, 22, 23, 24, 45, 56, 67, 88, 79, 100, 66, 76, 43, 78, 44, 33, 119, -70, -23, 89, -33, 86, -12]
[11, 23, 45, 67, 79, 43, 33, 119, -23, 89, -33]
[22, 24, 56, 88, 100, 66, 76, 78, 44, -70, 86, -12]
[11, 22, 23, 24, 45, 56, 67, 88, 79, 100, 66, 76, 43, 78, 44, 33, 119, 89, 86]
[-70, -23, -33, -12]

In [ ]:
# reduce fuction

numlist=[11,22,23,24,45,56,67,88,79,100,66,76,43,78,44,33,119,-70,-23,89,-33,86,-12]
print(numlist)

from functools import reduce

sum=reduce(lambda x,y:x+y,numlist)
print(sum)

max=reduce(lambda x,y:x if x>y else y,numlist)
print(max)

min=reduce(lambda x,y:x if x<y else y,numlist)
print(min)

[11, 22, 23, 24, 45, 56, 67, 88, 79, 100, 66, 76, 43, 78, 44, 33, 119, -70, -23, 89, -33, 86, -12]
1011
119
-70

In [ ]:
# prompt: gcd

import math

def gcd(a, b):
  return math.gcd(a, b)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = gcd(num1, num2)
print("The GCD of", num1, "and", num2, "is", result)

In [ ]:
def gcd(a, b):
  while b:
    a, b = b, a % b
  return a

In [ ]:
def lcm(a, b):
  return (a * b) // gcd(a, b)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = lcm(num1, num2)
print("The LCM of", num1, "and", num2, "is", result)

In [ ]:
# eval()

print('77+99')
print(eval('77+99-5*2'))
y=10
print(eval('77+y*2'))

77+99
166
97

In [ ]:
#enumerate
names=('roshan','preeti','tannu',"kirtika","patrh","sumit","raj","yashika","ram")

for index,name in enumerate(names):
  print(index+1,name)

1 roshan
2 preeti
3 tannu
4 kirtika
5 patrh
6 sumit
7 raj
8 yashika
9 ram

In [ ]:
# zip function
names=('roshan','preeti','tannu',"kirtika","patrh","sumit","raj","yashika","ram")
age=(20,21,22,23,24,25,26,27,28)
course=('DA','DS','ML','AI','JAVA','CPP','C','PYTHON','PHP')

students=list(zip(names,age,course))
print(students)

for name,age,course in students:
   print(name,age,course)

In [ ]:
# create a list of names
names = ['sravan', 'bobby', 'ojaswi', 'rohith', 'gnanesh']

# create a list of subjects
subjects = ['java', 'python', 'R', 'cpp', 'bigdata']

# create a list of marks
marks = [78, 100, 97, 89, 80]

gender=['M','F','M','M','M']

# use enumerate() and zip() function
# to iterate the lists
t=enumerate(zip(names, subjects, marks,gender))

for i, (names, subjects, marks,gender) in t :
	print(i+1, names, subjects, marks,gender)

1 sravan java 78 M
2 bobby python 100 F
3 ojaswi R 97 M
4 rohith cpp 89 M
5 gnanesh bigdata 80 M